$background: rgba($color: #424242, $alpha: 0.40);
$alternate_background: #212121;

$accent: #1769aa;
$accent2: rgba($color: #616161, $alpha: 0.40);

$attention_color: #f28d0a;
$critical_color: #cf1919;
