.bluetoothMenu{
    border: none;
    border-radius: 15px;
    background: rgba($color: #010109, $alpha: 0.95);
}

.bluetoothMenuBox{
    margin-top: 0px;
}

.bluetoothPairedItemBtn{
    margin: 0px 18px 5px 18px;
    border: none;
    border-radius: 7px;
    background: rgba($color: #292929, $alpha: 0.75);
    font-size: 14px;
    font-family: Fira Code Nerd Font;
}

.bluetoothConnectedItemBtn{
    margin: 0px 18px 5px 18px;
    border: none;
    border-radius: 7px;
    background: rgba($color: #235498, $alpha: 0.75);
    font-size: 14px;
    font-family: Fira Code Nerd Font;
}

.backBtn {
    margin: 2px 0px 0px 2px;
    background: rgba($color: #010109, $alpha: 0.0);
    font-size: 24px;
    font-family: Fira Code Nerd Font;
}
