.bluetoothMenu{
    border: none;
    border-radius: 15px;
    background: $background;

    .bluetoothMenuScroll {
        padding: 2px;

    }

    .bluetoothMenuBox{
        margin-top: 0px;

        .bluetoothPairedItemBtn{
            margin: 0px 18px 5px 18px;
            border: none;
            border-radius: 7px;
            background: $alternate_background;
            font-size: 14px;
            font-family: Fira Code Nerd Font;
        }

        .bluetoothConnectedItemBtn{
            margin: 0px 18px 5px 18px;
            border: none;
            border-radius: 7px;
            background: $accent; 
            font-size: 14px;
            font-family: Fira Code Nerd Font;
        }
    }
}

.connectToWifiMenu {
    border: none;
    border-radius: 15px;
    background: $background;
}

.wifiMenu {
    border: none;
    border-radius: 15px;
    background: $background;
}

.backBtn {
    margin: 2px 0px 0px 2px;
    border: none;
    background: transparent;
    font-size: 24px;
    font-family: Fira Code Nerd Font;
}

.connectBtn {
  margin: 5px 0px 0px 5px;
  border: 2px;
  background: $alternate_background;
  font-size: 12px;
  font-family: Fira Code Nerd Font;
}

.separatorLabel {
    margin: 10px 15px 15px 15px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    background: $accent2;
    min-width: 200px;
    font-size: 12px;
    font-family: Fira Code Nerd Font;
    font-weight: bold;
}

.nameLabel {
    font-size: 14px;
    font-family: Fira Code Nerd Font;
    font-weight: bold;
}

.infoLabel {
    border: none;
    border-radius: 15px;
    padding: 0px;
    font-size: 11px;
    font-family: Fira Code Nerd Font;
}

.passwordTitle {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  font-family: Fira Code Nerd Font;
  font-weight: bold;
}

.passwordLabel {
  margin: 0px 25px 0px 0px;
  font-size: 12px;
  font-family: Fira Code Nerd Font;
}

.passwordInput {
  margin: 0px 25px 0px 0px;
  border: 2px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 11px;
  font-family: Fira Code Nerd Font;
  background: $alternate_background;
}

.itemBtn {
    margin: 0px 18px 5px 18px;
    border: none;
    border-radius: 7px;
    background: $alternate_background;
    font-size: 14px;
    font-family: Fira Code Nerd Font;
}

.connectedItemBtn {
    margin: 0px 18px 5px 18px;
    border: none;
    border-radius: 7px;
    background: $accent; 
    font-size: 14px;
    font-family: Fira Code Nerd Font;
}













