.systemtrayPopup {
    border: none;
    border-radius: 15px;
    background: $background; 
}

.settingBox {
    margin: 25px 18px 0px 18px;
    border: none;
    border-radius: 20px;
    background: $alternate_background;
    min-height: 50px;
}

.settingBoxActive {
    margin: 25px 18px 0px 18px;
    border: none;
    border-radius: 20px;
    background: $accent;
    min-height: 50px;
}

.settingButton {
    border: none;
    border-radius: 25px;
    background: transparent; 
    min-width: 150px;

    pressed {
        border: none;
    }

    hover { 
        border: none;
    }
    
    .iconBox {
        padding: 0px 17px 0px 0px;
        background: transparent; 
        font-size: 25px;
        font-family: Fira Code Nerd Font;
    }
    
    .labelBox {
        margin: 5px 16px 0px 5px;
        font-size: 12px;
        font-family: Fira Code Nerd Font;

        .settingNameLabel {
            font-size: 12px;
            font-family: Fira Code Nerd Font;
            font-weight: bold;
        }
    }
}

.arrowBtn {
    border: none;
    background: transparent;
    min-width: 25px;
    border-radius: 25px;
    
    pressed{
        border: none;
    }
}

.slidersBox {
    border: none;
    border-radius: 15px;
    margin: 15px;
    padding: 1px 10px 1px 10px;
    background: $alternate_background;
}

.sliderBox {
    font-size: 14px;
    font-family: Fira Code Nerd Font;

    slider {
        border: none;
        background: transparent;
    }

    trough {
        background: $accent2; 
        min-height: 15px;
        border: none;
        border-radius: 100px;

        highlight {
            border: none;
            border-radius: 100px;
            background: $accent;
        }

    }
}

.sliderIcon {
    padding: 0px 5px 0px 12px;
    background: transparent;
    font-size: 20px;
    font-family: Fira Code Nerd Font;
}







