.systemtrayPopup {
    border: none;
    border-radius: 15px;
    background: rgba($color: #010109, $alpha: 0.55);
}

.settingBox {
    margin: 25px 18px 0px 18px;
    border: none;
    border-radius: 25px;
    background: rgba($color: #292929, $alpha: 0.85);
}

.settingBoxActive {
    margin: 25px 18px 0px 18px;
    border: none;
    border-radius: 25px;
    background: rgba($color: #235498, $alpha: 0.95);
}

.settingButton {
    border: none;
    border-radius: 25px;
    background: transparent; 
    min-width: 150px;
}

.iconBox {
    padding: 0px 17px 0px 0px;
    background: transparent; 
    font-size: 25px;
    font-family: Fira Code Nerd Font;
}

.labelBox {
    margin: 0px 16px 0px 5px;
    font-size: 12px;
    font-family: Fira Code Nerd Font;
}

.arrowBtn {
    border: none;
    background: transparent;
    min-width: 25px;
    border-radius: 25px;
}

.sliderBox {
    margin: 20px 25px 20px 15px;
    font-size: 14px;
    font-family: Fira Code Nerd Font;

    trough {
        background: rgba($color: #292929, $alpha: 0.85);
        min-height: 12px;
        border-radius: 100px;

        highlight {
            border-radius: 100px;
        }
    }
}

.sliderIcon{
    padding: 0px 0px 0px 12px;
    background: rgba($color: #FFFFFF, $alpha: 0);
    font-size: 25px;
    font-family: Fira Code Nerd Font;
}















