.bar {
    border: none;
    border-radius: 15px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.15);
}


.workspaceBtn {
    border: none;
    border-radius: 15px;
    padding: 1px 4px 1px 4px;
    background: rgba($color: #FFFFFF, $alpha: 0.0);
}

.systemtray {
    border: none;
    padding: 0px 10px 0px 4px;
    background: rgba($color: #FFFFFF, $alpha: 0.0);
    font-size: 14px;
    font-family: Fira Code Nerd Font;
}

.clock {
    font-size: 12px;
    font-weight: bold;
    font-family: Fira Code Nerd Font;
}
