.bar {
    border: none;
    border-radius: 15px;
    background-color: rgba($color: #0a0a09, $alpha: 0.55);
}


.workspaceBtn {
    border: none;
    border-radius: 15px;
    background-color: rgba($color: #0a0a09, $alpha: 0.1);
}

.systemtray {
    font-size: 18;
    background-color: rgba($color: #0a0a09, $alpha: 0.1);
}

.clock {
    font-size: 14;
    font-weight: bold;
}
