.bar {
    border: none;
    border-radius: 15px;
    background-color: $background;
}


.workspaceBtn {
    border: none;
    border-radius: 15px;
    padding: 1px 4px 1px 4px;
    background: transparent;
}

.systemtray {
    border: none;
    padding: 0px 10px 0px 4px;
    background: transparent;
    font-size: 16px;
    font-family: Fira Code Nerd Font;
}

.clock {
    font-size: 12px;
    font-weight: bold;
    font-family: Fira Code Nerd Font;
}

.batteryLevelTxt {
    padding: 4px 3px 0px 0px;
    font-size: 10px;
    font-weight: bold;
    font-family: Fira Code Nerd Font;
}

.normalPowerBatteryWidget {
    background: transparent;
}

.lowPowerBatteryWidget {
    background: transparent;
    color: $attention_color;
}

.criticalBatteryWidget {
    background: transparent;
    color: $critical_color;
}

